header {
	background-color: darkgreen;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

h1, h2 {
	font-family: 'Sawarabi Gothic', sans-serif;
	font-size: 20px;
	color: rosybrown;
}

body {
	font-family: sans-serif;
	margin: 12 auto;
	font-size: 20px;
	line-height: 27px;
}

header h1 {
	color: yellowgreen;
	font-family: sawarabi gothic;
	font-size: 50px;
	text-align: center;
}

header img {
	border-radius: 200px;
	width: 360px;
    border: 5px solid gray;
    height: 360px;
}

main {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 20px 0px 20px;
}

div.CenterImage {
	text-align: center;
}

main h2 {
	text-align: center;
}

a {
	color: green;
}

a:hover {
	color: red;
	background-color: blue;
}

footer p {
	color: white;
	margin: 0;
}

footer {
	background-color: red;
	text-align: center;
	padding: 50px;
}

p.captionimage {
	color: lightslategray;
    font-style: italic;
    margin-left: 95px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10px;
}