body {
	background-color: lightgray;
}
h1{
	font-size: 30px;
	color: teal;
}
h2 {
	font-size: 50px;
	color: red;
}
h2 {
	color: green;
}

.smol{
	font-size: 20px;
}

.uppercase {
	text-transform: uppercase;
}

.smol.uppercase {
	color: navy;
}

h1 span {
	color: violet;
}