html {
    background:url(img/htmlbackground.jpg) ;
}
/* Header */
body {
    margin: 0 auto;
    width: 90vw;
    font-family: 'Roboto', sans-serif;
}
header {
    position: sticky;
    top: 0px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: rgb(47, 48, 47);
    height: 100px;
    z-index: 1;

}
.h1_div {
    font-family: 'Barlow', sans-serif;
    font-family: 'Bayon', sans-serif;
    text-decoration: 4px underline;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;

}
.searchboxdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
}
.searchinput {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    border-radius: 5px;
}
.searchbuttondiv {
    font-size: 10px;
    height: 29%;
    border-radius: 5px;
}
.navdiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}
.nav_list {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.nav_list li a {
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}
/* Body */



