html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: 'Sawarabi Gothic', sans-serif;
	width: 1000px;
}

/*Header CSS*/

#header {
	width: inherit;
	background: green;
	vertical-align: top;
	position: sticky;
	top: 0;
}

#header h1 {
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
	text-decoration: None;
	color: white;
	padding-top: 5px;
	padding-bottom: 3px;

}

#header h1 a {
	vertical-align: top;
	text-align: center;
	margin: 0 auto;
	text-decoration: None;
	color: white;
	padding-top: 5px;
	padding-bottom: 3px;
}

hr {
	border: solid darkgreen;
	margin: 0px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	margin: 2px;
}

.navigation ul {
	text-align: center;
}

.navigation li a {
	padding: 0px 3px 0px 3px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
	background: none;
}


.navigation li {
	list-style-type: none;
	width: max-content;
	display: inline-block;
}

.anav:hover {
	background: none;
}

.searchbar {
	outline: none;
	display: inline-block;
	width: 200px;
	text-align: center;
	margin-bottom: 2px;

}

.searchDiv {
	text-align: center;
	width: fit-content;
	display: inline-block;
	margin: 0px 0px 0px 5px;
}

.mobile_kategori_div {
	width: fit-content;
	margin: 0px 5px 0px 0px;
	display: inline-block;
	float: right;
}



/*Footer Css*/

footer {
	background: green;
	display: inline-block;
 	position: fixed;
	width: 100%;
  	bottom: 0px;
 	left: 0px;
}

.navigationfooter {
	text-align: center;
}

.navigationfooter:hover {
	background: none;
}

.navigationfooter ul {
	display: inline-block;
	text-decoration: mone;
}

.navigationfooter li {
	width: max-content;
	display: inline-block;
}

.navigationfooter a {
	text-decoration: none;
	color: white;
}

/* Produk Css (class.produk) */

main {
	padding-bottom: 27px;
	text-align: center;

}
.produk {
	background: lightgray;
	box-sizing: border-box;
	border: 1px solid;
	max-width: 100%;
	display: inline-block;
	margin: 2px 2px;
}

.produk > h3  {
	--max-lines: 1;
	overflow: hidden;
	margin: 2px 0px 0px 2px;
	width: 58.9%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-lines);
	text-align: center;
}

.produk > h3 > a {
	text-decoration: none;
	color: black;
}

.produk img {
	margin: 2px 0px 0px 2px;
	width: 40%;
	max-height: 40%;
	float: left;
}

.produk p {

}
/*contoh webkit*/
.produkdesk {
	text-align: left;
	--max-lines: 5;
	overflow: hidden;
	margin: 2px 0px 0px 2px;
	width: 58.9%;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-lines)
}

br {

}

.produkharga {
	--max-lines: 1;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: var(--max-lines);
	margin: 3px 0px 3px 0px;
	text-align: center;
}

.produkinfo {
	float: left;
	text-decoration: none;
	margin: 0px 0px 3px 3px;
	background-color: skyblue;
	padding: 0px 3px;
	border-radius: 5px;
	font-weight: bold;
}

.produkkeranjang {
	float: right;
	margin: 0px 3px 3px 0px;
	font-weight: bold;
}


/* 768 width responsive web */

@media only screen and (min-width: 768px) {
	
	.produk {
		background: lightgray;
		box-sizing: border-box;
		border: 1px solid;
		width: 400px;
		height: 265px;
		display: inline-block;
		margin: 2px 2px;
	}
	
	.produk > h3  {
		--max-lines: 1;
		overflow: hidden;
		margin: 2px 0px 0px 2px;
		width: 190px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--max-lines);
		text-align: center;
	}
	
	.produk > h3 > a {
		text-decoration: none;
		color: black;
	}
	
	.produk img {
		margin: 2px 0px 0px 2px;
		width: 200px;
		height: 200px;
		max-height: 400px;
		object-fit: fill;
		margin: auto;
	}
	
	/*contoh webkit*/
	.produkdesk {
		text-align: left;
		--max-lines: 5;
		overflow: hidden;
		margin: 2px 0px 0px 2px;
		width: 190px;
		height: 164px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--max-lines)
	}
	
	br {
	
	}
	
	.produkharga {
		--max-lines: 1;
		overflow: hidden;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: var(--max-lines);
		margin: 3px 0px 3px 0px;
		text-align: center;
	}
	
	.produkinfo {
		text-decoration: none;
		margin: 0px 0px 3px 3px;
		background-color: skyblue;
		padding: 0px 3px;
		border-radius: 5px;
		font-weight: bold;
	}
	
	.produkkeranjang {
		margin: 0px 3px 3px 0px;
		font-weight: bold;
	}
}


